In [1]:
import pandas as pd
import nltk
import csv

nltk.download('punkt', quiet=True)
nltk.download('punkt_tab', quiet=True)

True

In [ ]:
# Load each of the training Datasets into a separate DataFrame
train_par_df = pd.read_csv('../Datasets/train/STS.input.MSRpar.txt',sep='\t',header=None, quoting=csv.QUOTE_NONE)
train_par_df['gs'] = pd.read_csv('../Datasets/train/STS.gs.MSRpar.txt',sep='\t',header=None)

train_vid_df = pd.read_csv('../Datasets/train/STS.input.MSRvid.txt',sep='\t',header=None, quoting=csv.QUOTE_NONE)
train_vid_df['gs'] = pd.read_csv('../Datasets/train/STS.gs.MSRvid.txt',sep='\t',header=None)

train_europarl_df = pd.read_csv('../Datasets/train/STS.input.SMTeuroparl.txt',sep='\t',header=None, quoting=csv.QUOTE_NONE)
train_europarl_df['gs'] = pd.read_csv('../Datasets/train/STS.gs.SMTeuroparl.txt',sep='\t',header=None)

In [3]:
# Concatenate the DataFrames
train_combined_df = pd.concat([train_par_df, train_vid_df, train_europarl_df], ignore_index=True)

train_combined_df.head()

,0,1,gs
0,But other sources close to the sale said Viven...,But other sources close to the sale said Viven...,4.00
1,Micron has declared its first quarterly profit...,Micron's numbers also marked the first quarter...,3.75
2,The fines are part of failed Republican effort...,"Perry said he backs the Senate's efforts, incl...",2.80
3,"The American Anglican Council, which represent...","The American Anglican Council, which represent...",3.40
4,The tech-loaded Nasdaq composite rose 20.96 po...,The technology-laced Nasdaq Composite Index <....,2.40

In [4]:
# Tokenize the sentences in the text
train_tokenized_0 = [nltk.word_tokenize(sentence) for sentence in train_combined_df[0]]
train_tokenized_1 = [nltk.word_tokenize(sentence) for sentence in train_combined_df[1]]

In [5]:
# Create the new dataframe
train_tokenized_df = pd.DataFrame({
    '0': train_tokenized_0,
    '1': train_tokenized_1,
    'gs': train_combined_df['gs']
})

train_tokenized_df.head()

,0,1,gs
0,"[But, other, sources, close, to, the, sale, sa...","[But, other, sources, close, to, the, sale, sa...",4.00
1,"[Micron, has, declared, its, first, quarterly,...","[Micron, 's, numbers, also, marked, the, first...",3.75
2,"[The, fines, are, part, of, failed, Republican...","[Perry, said, he, backs, the, Senate, 's, effo...",2.80
3,"[The, American, Anglican, Council, ,, which, r...","[The, American, Anglican, Council, ,, which, r...",3.40
4,"[The, tech-loaded, Nasdaq, composite, rose, 20...","[The, technology-laced, Nasdaq, Composite, Ind...",2.40

In [7]:
# Save the train_tokenized sentences to a CSV
train_tokenized_df.to_csv('STS_train.csv', index=False)

In [8]:
# Do the same for test dataset

# Load each of the testing Datasets into a separate DataFrame
test_par_df = pd.read_csv('../Datasets/test-gold/STS.input.MSRpar.txt',sep='\t',header=None, quoting=csv.QUOTE_NONE)
test_par_df['gs'] = pd.read_csv('../Datasets/test-gold/STS.gs.MSRpar.txt',sep='\t',header=None)

test_vid_df = pd.read_csv('../Datasets/test-gold/STS.input.MSRvid.txt',sep='\t',header=None, quoting=csv.QUOTE_NONE)
test_vid_df['gs'] = pd.read_csv('../Datasets/test-gold/STS.gs.MSRvid.txt',sep='\t',header=None)

test_europarl_df = pd.read_csv('../Datasets/test-gold/STS.input.SMTeuroparl.txt',sep='\t',header=None, quoting=csv.QUOTE_NONE)
test_europarl_df['gs'] = pd.read_csv('../Datasets/test-gold/STS.gs.SMTeuroparl.txt',sep='\t',header=None)

test_wn_df = pd.read_csv('../Datasets/test-gold/STS.input.surprise.OnWN.txt',sep='\t',header=None, quoting=csv.QUOTE_NONE)
test_wn_df['gs'] = pd.read_csv('../Datasets/test-gold/STS.gs.surprise.OnWN.txt',sep='\t',header=None)

test_news_df = pd.read_csv('../Datasets/test-gold/STS.input.surprise.SMTnews.txt',sep='\t',header=None, quoting=csv.QUOTE_NONE)
test_news_df['gs'] = pd.read_csv('../Datasets/test-gold/STS.gs.surprise.SMTnews.txt',sep='\t',header=None)

# Concatenate the DataFrames
test_combined_df = pd.concat([test_par_df, test_vid_df, test_europarl_df, test_wn_df, test_news_df], ignore_index=True)

# Tokenize the sentences in the text
test_tokenized_0 = [nltk.word_tokenize(sentence) for sentence in test_combined_df[0]]
test_tokenized_1 = [nltk.word_tokenize(sentence) for sentence in test_combined_df[1]]

# Create the new dataframe
test_tokenized_df = pd.DataFrame({
    '0': test_tokenized_0,
    '1': test_tokenized_1,
    'gs': test_combined_df['gs']
})

# Save the train_tokenized sentences to a CSV
test_tokenized_df.to_csv('STS_test.csv', index=False)