In [39]:
import pandas as pd
import nltk
import csv

nltk.download('punkt')
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\sanch\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\sanch\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [40]:
# Load each of the Datasets into a DataFrame
par_df = pd.read_csv('../Datasets/train/STS.input.MSRpar.txt',sep='\t',header=None, quoting=csv.QUOTE_NONE)
par_df['gs'] = pd.read_csv('../Datasets/train/STS.gs.MSRpar.txt',sep='\t',header=None)

vid_df = pd.read_csv('../Datasets/train/STS.input.MSRvid.txt',sep='\t',header=None, quoting=csv.QUOTE_NONE)
vid_df['gs'] = pd.read_csv('../Datasets/train/STS.gs.MSRvid.txt',sep='\t',header=None)

europarl_df = pd.read_csv('../Datasets/train/STS.input.SMTeuroparl.txt',sep='\t',header=None, quoting=csv.QUOTE_NONE)
europarl_df['gs'] = pd.read_csv('../Datasets/train/STS.gs.SMTeuroparl.txt',sep='\t',header=None)

In [41]:
# Concatenate the DataFrames
combined_df = pd.concat([par_df, vid_df, europarl_df], ignore_index=True)

combined_df.head()

,0,1,gs
0,But other sources close to the sale said Viven...,But other sources close to the sale said Viven...,4.00
1,Micron has declared its first quarterly profit...,Micron's numbers also marked the first quarter...,3.75
2,The fines are part of failed Republican effort...,"Perry said he backs the Senate's efforts, incl...",2.80
3,"The American Anglican Council, which represent...","The American Anglican Council, which represent...",3.40
4,The tech-loaded Nasdaq composite rose 20.96 po...,The technology-laced Nasdaq Composite Index <....,2.40

In [42]:
# Tokenize the sentences in the text
tokenized_0 = [nltk.word_tokenize(sentence) for sentence in combined_df[0]]
tokenized_1 = [nltk.word_tokenize(sentence) for sentence in combined_df[1]]

In [43]:
# Create the new dataframe
tokenized_df = pd.DataFrame({
    'tokenized_0': tokenized_0,
    'tokenized_1': tokenized_1,
    'gs': combined_df['gs']
})

tokenized_df.head()

,tokenized_0,tokenized_1,gs
0,"[But, other, sources, close, to, the, sale, sa...","[But, other, sources, close, to, the, sale, sa...",4.00
1,"[Micron, has, declared, its, first, quarterly,...","[Micron, 's, numbers, also, marked, the, first...",3.75
2,"[The, fines, are, part, of, failed, Republican...","[Perry, said, he, backs, the, Senate, 's, effo...",2.80
3,"[The, American, Anglican, Council, ,, which, r...","[The, American, Anglican, Council, ,, which, r...",3.40
4,"[The, tech-loaded, Nasdaq, composite, rose, 20...","[The, technology-laced, Nasdaq, Composite, Ind...",2.40

In [44]:
# Save the tokenized sentences to a CSV
tokenized_df.to_csv('CSVs/STS_train.csv', index=False)